#primo-header {
    background-color: #4da0ff;
    background-image:url(./img/pattern.png);
    background-size: 390px;
    padding-top: 40px;
    padding-bottom: 10px;
}
address {
    color: #878787;
}
#link {
    color: #5cb4d6;
    text-decoration: none;
}
figure {
    margin-left: 0px;
}
ul {
    padding-left: 15px;
}
thead {
    background-color: #24a7e3;
    color: white;
}
#terza-intestazione{
    text-align: left;
}
.terza-cella {
    text-align: justify;
    /* text-align: right; */
}
.seconda-cella {
    padding-left: 150px;
    padding-right: 150px;

}
.sfondo-colorato{
    background-color: #b1e5f2;

}
#h2-basso{
    color: #969696;
    font-size: medium;
}
#tit_con_bk {
    color: white;
    font-size: medium;
    text-align: left;
    background-image: url(./img/monitor.jpg);
    width: 270px;
    height: 208px;
}
#tit_con_bk2 {
    color: white;
    font-size: medium;
    text-align: left;
    background-image: url(./img/graph.jpg);
    width: 270px;
    height: 208px;
}


